* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.table {
  margin-bottom: 0;
}

.add-todo-btn {
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  background-color: 007bff;
}

.table-container {
  max-height: 450px;
  border: solid 1px rgb(213, 213, 213);
  border-radius: 10px;
  margin: 20px;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.action-buttons-cell {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.cdk-drop-list-dragging {
  background-color: #f0f8ff;
  border: 2px dashed #007bff;
}

.view-switcher {
  display: flex;
  justify-content: left;
  margin: 20px;
}

.kanban:hover {
  color: #1c79ca;
  border-radius: 5px;
}

.list:hover {
  color: #1c79ca;
  border-radius: 5px;
}

.nav-item.hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px;
}

.nav-item:hover {
  background-color: #e6f4ea;
  color: black;
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #343a40;
  color: white;
  z-index: 1;
}

.sticky-header th {
  background-color: #0d6efd;
}

.mt-4 {
    margin-top: 0 !important;
    width: 100%;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  
}

.custom-search-bar {
  max-width: 40%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.add-task-btn {
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0d6efd;
  border-radius: 6px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-task-btn:hover {
  background-color: #6da7ff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.add-task-text {
  color: white;
  padding: 6px 5px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 4px;
}

.add-task-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
}

