<div
  class="home-container"
  style="display: flex; flex-direction: row; align-items: center"
>
  <div
    style="
      background-color: #0b0f51;
      height: 100vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <img
      [src]="imageanimatedPath"
      style="
        width: 300px;
        transform: rotate(20deg);
        height: 300px;
        z-index: 1;
        left: 37%;
      "
      alt=""
    />
  </div>
  <!---------------------------------------------------->
  <div class="container text-center" style="width: 50%">
    <div
      class="container text-center mt-5"
      style="
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      "
    >
      <img
        [src]="imagePath"
        alt="Dynamic Logo"
        class="logo"
        style="width: 200px; height: 200px"
        role="button"
        cursor="pointer"
        (click)="goToHome()"
      />
      <div class="mb-4">
        <p class="text-muted">Build your progress, one task at a time.</p>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <div class="mb-3">
              <!-- <label for="username" class="form-label">Username</label> -->
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                [(ngModel)]="credentials.username"
                required
                #usernameInput="ngModel"
                placeholder="Username"
                style="width: 341px"
                [ngClass]="{
                  'is-invalid': loginForm.submitted && usernameInput.invalid
                }"
              />

              <div
                *ngIf="loginForm.submitted && usernameInput.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="usernameInput.errors?.['required']">
                  Username is required.
                </div>
              </div>
            </div>

            <div
              class="mb-3"
              style="
                display: flex;
                align-items: center;
                border: rgb(226, 226, 226) 1px solid;
                border-radius: 5px;
              "
            >
              <input
                type="password"
                class="form-control"
                [type]="showpassword ? 'text' : 'password'"
                id="password"
                name="password"
                [(ngModel)]="credentials.password"
                required
                #passwordInput="ngModel"
                style="width: 300px; border: 0"
                placeholder="Password"
                [ngClass]="{
                  'is-invalid': loginForm.submitted && passwordInput.invalid
                }"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                style="border: 0cap"
                (click)="togglePassword()"
              >
                <i [class]="showpassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
              </button>
              <div
                *ngIf="loginForm.submitted && passwordInput.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="passwordInput.errors?.['required']">
                  Password is required.
                </div>
              </div>
            </div>

            <div class="d-grid gap-2">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="loginForm.invalid"
                style="width: 300px"
                (click)="togglePassword()"
              >
                Log In
              </button>
            </div>

            <div
              *ngIf="errorMessage"
              class="alert alert-danger mt-3"
              role="alert"
            >
              {{ errorMessage }}
            </div>
          </div>
        </form>

        <div class="m-3">
          <p>Don't have an account? <a routerLink="/register">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
