<div class="d-flex" style="background-color: #dbe3eb; height: 100%">
  <!-- Sidebar -->
  <nav id="sidebar" class="bg-dark text-black p-3">
    <div class="sidebar-header">
      <h3>Projects</h3>
    </div>
    <ul class="nav flex-column">
      <li
        role="button"
        class="nav-item mb-2 hover"
        style="cursor: pointer"
        data-bs-toggle="modal"
        data-bs-target="#addProjectModal"
        role="button"
      >
        <a class="nav-link text-black" routerLink="/dashboard">
          <img
            [src]="createProject"
            class="btn-success"
            style="width: 40px; height: 40px; padding: 5px"
            alt=""
          />
          Create New Project
        </a>
      </li>
      <li class="nav-item mb-2 hover" style="cursor: pointer">
        <a class="nav-link text-black" routerLink="/profile">
          <img
            [src]="imageAddTask"
            class="btn-success"
            style="width: 40px; height: 40px; padding: 5px"
            alt=""
          />
          Project Name
        </a>
      </li>
      <li class="nav-item mb-2 hover" style="cursor: pointer">
        <a class="nav-link text-black" routerLink="/settings">
          <img
            [src]="allTasks"
            class="btn-success"
            style="width: 40px; height: 40px; padding: 5px"
            alt=""
          />
          All Tasks
        </a>
      </li>
      <li class="nav-item mb-2 hover" style="cursor: pointer">
        <a class="nav-link text-black" routerLink="/settings">
          <img
            [src]="allProjects"
            class="btn-success"
            style="width: 45px; height: 45px; padding: 5px"
            alt=""
          />
          All Projects
        </a>
      </li>
    </ul>
    <div class="sidebar-header">
      <h5>My Projects</h5>
    </div>

    <!-- Add Modal for Project -->
    <div
      class="modal fade"
      id="addProjectModal"
      tabindex="-1"
      aria-labelledby="addTodoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div
          class="modal-content"
          style="padding: 30px; background-color: #79b6f2; color: white"
        >
          <div class="modal-header">
            <img
              [src]="createProject"
              class="btn-success"
              style="width: 40px; height: 40px; padding: 5px"
              alt=""
            />
            <h5 class="modal-title" id="addTodoModalLabel">
              Create New Project
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onAddTodo(addTodoForm)" #addTodoForm="ngForm">
              <div class="mb-3">
                <label for="addTitle" class="form-label">Project Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="addTitle"
                  name="title"
                  [(ngModel)]="newTodo.title"
                  required
                  #title="ngModel"
                  [attr.aria-invalid]="
                    title.invalid && (title.dirty || title.touched)
                      ? 'true'
                      : 'false'
                  "
                  aria-describedby="addTitleError"
                />
                <div
                  *ngIf="title.invalid && (title.dirty || title.touched)"
                  id="addTitleError"
                  class="text-danger"
                >
                  Task Name is required.
                </div>
              </div>
              <!-- Priority Fields and Subtasks Field -->
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="addTodoForm.invalid"
                >
                  Save Todo
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Modal for Project -->
  </nav>
</div>
