<div class="d-flex">
  <!-- Sidebar -->
  <nav id="sidebar" class="bg-dark text-white p-3">
    <div class="sidebar-header">
      <h3>Projects</h3>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/dashboard">
          <i class="bi bi-speedometer2 me-2"></i> Create New Project
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/profile">
          <i class="bi bi-person-circle me-2"></i> Add Task
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/settings">
          <i class="bi bi-gear me-2"></i> All Tasks
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/settings">
          <i class="bi bi-gear me-2"></i> All Projects
        </a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href=""><i class="bi bi-gear me-2">My Projects</i></a>
      </li>
    </ul>
  </nav>
</div>
