<div class="d-flex">
  <!-- Sidebar -->
  <nav id="sidebar" class="bg-dark text-black p-3">
    <div class="sidebar-header">
      <h3>Projects</h3>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item mb-2 hover" style="cursor: pointer;">
        <a class="nav-link text-black" routerLink="/dashboard">
          <img
            [src]="createProject"
            class="btn-success"
            style="width: 40px; height: 40px; padding: 5px;"
            alt=""
          /> Create New Project
        </a>
      </li>
      <li class="nav-item mb-2 hover" style="cursor: pointer;">
        <a class="nav-link text-black" routerLink="/profile">
          <img
            [src]="imageAddTask"
            class="btn-success"
            style="width: 40px; height: 40px; padding: 5px;"
            alt=""
          /> Add Task
        </a>
      </li>
      <li class="nav-item mb-2 hover" style="cursor: pointer;">
        <a class="nav-link text-black" routerLink="/settings">
          <img
            [src]="allTasks"
            class="btn-success"
            style="width: 40px; height: 40px; padding: 5px;"
            alt=""
          /> All Tasks
        </a>
      </li>
      <li class="nav-item mb-2 hover" style="cursor: pointer;">
        <a class="nav-link text-black" routerLink="/settings">
          <img
            [src]="allProjects"
            class="btn-success"
            style="width: 45px; height: 45px; padding: 5px; "
            alt=""
          /> All Projects
        </a>
      </li>
    </ul>
    <div class="sidebar-header">
      <h5>My Projects</h5>
    </div>
  </nav>
</div>
